@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .option_button {
    @apply flex p-2 bg-white border border-gray-300 rounded-xl h-14 cursor-pointer focus:outline-none  peer-checked:ring-[#E15162] peer-checked:ring-2 text-center items-center peer-checked:border-transparent
    mx-auto justify-center;
  }
  .swiper .swiper-pagination-bullet {
    background-color: #ffffff;
    margin: 0 5px !important;
  }
  .swiper .swiper-pagination {
    position: absolute;
    bottom: 0px !important;
    z-index: 50;
  }
}
